/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply text-primary;
  }

}

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px black;
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px black;
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}

.gradient-background {
  background:
      linear-gradient(#F78100, transparent),
      linear-gradient(to top left, #F9EC00, #F78100, transparent),
      linear-gradient(to bottom left, #f43434, transparent);
  background-blend-mode: hard-light;
  opacity: 0.6;
}

.debug * {
  box-shadow: 0 0 1px red;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  white-space: nowrap; /* added line */
}

circle {
  transition: stroke-dashoffset 1.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
  